<div class="card checkinslist">

    <h1>Check-ins</h1>
    <p> Here's a list of your latest checkins</p>

    <div class="search cf">
        <h2>Search Checkins</h2>
        <input type="text" ng-model="query" placeholder="Search for users">

        <div class="formgroup">
            <span class="label">by: </span>
            <select ng-model="sortOrder">
                <option value="firstname">First Name</option>;
                <option value="lastname">Last Name</option>;
                <option value="date">Date</option>;
            </select>
        </div> <!-- formgroup sortOrder -->

        <div class="formgroup">
            <input id="dirascending" type="radio" ng-model="sortDirection" name="direction">
            <label for="dirascending">Ascending</label>&nbsp;
            <input id="dirdescending" type="radio" ng-model="sortDirection" name="direction" value="reverse">
            <label for="dirdescending">Descending</label>
        </div> <!-- formgroup sortDirection -->
        
        <div ng-show="currentUser" class="buttons cf">
            <button ng-hide="randomRecordID" class="btn btn-pick" ng-click="pickRandom()">
                Pick Random
            </button>
            <button ng-show="randomRecordID" class="btn btn-pick" ng-click="resetRandom()">
                Reset
            </button>
        </div>
    </div> <!-- Search form -->

    <ul class="userlist cf">
        <li ng-class="checkin.userState" ng-repeat="checkin in currentCheckins | orderBy: sortOrder:sortDirection | filter: { $id : randomRecordID, $: query }">
            <!-- Because of three-way data binding of 'currentCheckins' in checkins.js, 
     as users are checking in, the list will update on everybody's screens  -->

            <!-- ng-class="checkin.userState" will set the class as "expanded" 
                  to a list item whenever a Award User button is toggled -->
            <div class="checkin">
                <div class="buttons" ng-show="currentUser">
                    <button class="btn btn-delete tooltip" ng-click="deleteCheckin(checkin.$id)">
                        <span>Delete this check-in</span>
                    </button>
                    
                    <button class="btn btn-love tooltip" ng-click="showLove(checkin)">
                        <span>Award the user</span>
                    </button>
                </div>
                <div class="info">
                    <h2>{{ checkin.firstname }}  {{ checkin.lastname}}  </h2>
                    <div class="date">
                        {{checkin.date | date: "MMM d, yy h:mm a" }}
                    </div>
                    <!-- date -->
                </div>
                <!-- info -->
                <div class="showcheckins" ng-show="checkin.show">
                   <form name="awardForm" class="cf" ng-submit="giveAward(checkin, checkin.giftText)" novalidate>
                    <input type="text" name="giftText" placeholder="What are you giving"
                    ng-model="checkin.giftText" ng-required="true">
                    
                    </input>
                    <button type="submit" class="btn" ng-disabled="awardForm.$invalid">+
                        
                    </button>
                   </form> 
                </div> <!-- Giving awards div -->
                
            </div>
            <!-- checkin -->
        </li>
    </ul>

</div>